streamlit==1.52.2
langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-chroma==0.1.4
chromadb==0.4.24
sentence-transformers==5.2.0
unstructured==0.18.27
python-pptx==1.0.2
PyMuPDF==1.26.7
pillow==12.1.0
